In [37]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from keras.models import Sequential
from keras.layers import Conv1D, MaxPooling1D, Flatten, Dense, Dropout
from keras.optimizers import Adam

In [38]:
# Load the dataset
df1 = pd.read_csv('lotto_polonia_02.csv', delimiter=';')
df1.head()

,Numer,Dzien,Miesiac,Rok,L1,L2,L3,L4,L5,L6,...,L11,L12,L13,L14,L15,L16,L17,L18,L19,L20
0,1,18,3,1996,4,9,10,16,21,22,...,35,41,42,48,62,66,68,73,76,78
1,2,19,3,1996,6,12,15,19,28,33,...,49,59,62,63,64,67,69,71,75,77
2,3,21,3,1996,2,4,6,7,15,16,...,28,45,48,52,54,69,72,73,75,77
3,4,22,3,1996,3,8,15,17,19,25,...,36,38,44,49,60,61,64,67,68,75
4,5,25,3,1996,2,10,11,14,18,22,...,42,44,45,55,60,61,66,67,75,79

In [40]:
df1.tail()

,Numer,Dzien,Miesiac,Rok,L1,L2,L3,L4,L5,L6,...,L11,L12,L13,L14,L15,L16,L17,L18,L19,L20
14492,14493,28,3,2023,1,2,5,6,10,12,...,50,60,63,64,67,70,72,73,76,78
14493,14494,29,3,2023,1,3,4,6,8,12,...,28,36,45,55,56,63,64,69,70,72
14494,14495,29,3,2023,4,9,12,13,16,17,...,37,39,40,42,50,51,59,61,71,76
14495,14496,30,3,2023,1,3,5,6,11,13,...,36,44,50,53,61,63,67,69,79,80
14496,14497,30,3,2023,3,5,6,10,24,29,...,49,55,56,60,62,67,71,72,73,79

In [39]:
df = df1.iloc[:-1]
df.head()

,Numer,Dzien,Miesiac,Rok,L1,L2,L3,L4,L5,L6,...,L11,L12,L13,L14,L15,L16,L17,L18,L19,L20
0,1,18,3,1996,4,9,10,16,21,22,...,35,41,42,48,62,66,68,73,76,78
1,2,19,3,1996,6,12,15,19,28,33,...,49,59,62,63,64,67,69,71,75,77
2,3,21,3,1996,2,4,6,7,15,16,...,28,45,48,52,54,69,72,73,75,77
3,4,22,3,1996,3,8,15,17,19,25,...,36,38,44,49,60,61,64,67,68,75
4,5,25,3,1996,2,10,11,14,18,22,...,42,44,45,55,60,61,66,67,75,79

In [41]:
df.tail()

,Numer,Dzien,Miesiac,Rok,L1,L2,L3,L4,L5,L6,...,L11,L12,L13,L14,L15,L16,L17,L18,L19,L20
14491,14492,28,3,2023,1,9,11,13,22,23,...,45,51,57,59,60,63,65,70,74,77
14492,14493,28,3,2023,1,2,5,6,10,12,...,50,60,63,64,67,70,72,73,76,78
14493,14494,29,3,2023,1,3,4,6,8,12,...,28,36,45,55,56,63,64,69,70,72
14494,14495,29,3,2023,4,9,12,13,16,17,...,37,39,40,42,50,51,59,61,71,76
14495,14496,30,3,2023,1,3,5,6,11,13,...,36,44,50,53,61,63,67,69,79,80

In [43]:
df.shape

(14496, 24)

In [44]:
df1.shape

(14497, 24)

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14496 entries, 0 to 14495
Data columns (total 24 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Numer    14496 non-null  int64
 1   Dzien    14496 non-null  int64
 2   Miesiac  14496 non-null  int64
 3   Rok      14496 non-null  int64
 4   L1       14496 non-null  int64
 5   L2       14496 non-null  int64
 6   L3       14496 non-null  int64
 7   L4       14496 non-null  int64
 8   L5       14496 non-null  int64
 9   L6       14496 non-null  int64
 10  L7       14496 non-null  int64
 11  L8       14496 non-null  int64
 12  L9       14496 non-null  int64
 13  L10      14496 non-null  int64
 14  L11      14496 non-null  int64
 15  L12      14496 non-null  int64
 16  L13      14496 non-null  int64
 17  L14      14496 non-null  int64
 18  L15      14496 non-null  int64
 19  L16      14496 non-null  int64
 20  L17      14496 non-null  int64
 21  L18      14496 non-null  int64
 22  L19      14496 non-null  int64
 23  L20      14496 non-null  int64
dtypes: int64(24)
memory usage: 2.7 MB

In [ ]:
df.describe()

In [ ]:
# Drop unnecessary columns
df.drop(['Numer', 'Dzien', 'Miesiac', 'Rok'], axis=1, inplace=True)
df.head()

In [ ]:
# df = df.iloc[4423:]
# df

In [ ]:
# Standardize the dataset
scaler = StandardScaler().fit(df.values)
transformed_dataset = scaler.transform(df.values)
transformed_df = pd.DataFrame(data=transformed_dataset, index=df.index)

In [ ]:
# Prepare input and output data
number_of_rows = df.values.shape[0]
window_length = 21
number_of_features = df.values.shape[1]
X = np.empty([len(transformed_dataset) - window_length, window_length, number_of_features], dtype=float)
y = np.empty([len(transformed_dataset) - window_length, number_of_features], dtype=float)

for i in range(0, len(transformed_dataset) - window_length):
    X[i] = transformed_dataset[i : i + window_length]
    y[i] = transformed_dataset[i + window_length]

In [ ]:
# Split the data into training and testing sets
train_test_split = int(0.8 * len(X))
X_train, X_test = X[:train_test_split], X[train_test_split:]
y_train, y_test = y[:train_test_split], y[train_test_split:]

In [ ]:
# Define the model architecture
model = Sequential()
model.add(Conv1D(filters=500, kernel_size=3, activation='relu', input_shape=(window_length, number_of_features)))
model.add(MaxPooling1D(pool_size=2))
model.add(Dropout(0.3))
model.add(Conv1D(filters=500, kernel_size=3, activation='relu'))
model.add(MaxPooling1D(pool_size=1))
model.add(Dropout(0.3))
model.add(Conv1D(filters=500, kernel_size=3, activation='relu'))
model.add(MaxPooling1D(pool_size=1))
model.add(Dropout(0.3))
model.add(Flatten())
model.add(Dense(300, activation='relu'))
model.add(Dense(number_of_features, activation='linear'))

In [ ]:
# Compile the model
model.compile(optimizer=Adam(learning_rate=0.002), loss='mse', metrics=['accuracy'])

In [ ]:
# Train the model
model.fit(x=X_train, y=y_train, batch_size=100, epochs=150, verbose=2, validation_data=(X_test, y_test))

In [ ]:
# Make a prediction
to_predict = df.tail(21)
scaled_to_predict = scaler.transform(to_predict.values)
y_pred = model.predict(np.array([scaled_to_predict]))
print('The predicted numbers in the last lottery game are:', scaler.inverse_transform(y_pred).astype(int)[0])

In [ ]:
# numbers1 = np.array([1,9,11,13,22,23,25,31,33,42,45,51,57,59,60,63,65,70,74,77])
#[ 3  7 11 15 19 23 27 30 34 38 42 46 50 54 57 61 65 69 73 77]
numbers1 = np.array([2,4,6,10,17,23,24,26,30,44,45,50,53,58,61,66,75,78,79,80])

In [ ]:
np.intersect1d(scaler.inverse_transform(y_pred).astype(int)[0], numbers1)

In [ ]:
# Inverse transform the predicted values to get the original scale
predicted_numbers = scaler.inverse_transform(y_pred).astype(int)[0]

In [ ]:
# Calculate the probability of each predicted number
probabilities = []
for number in predicted_numbers:
    occurrences = df.tail(20)[df.tail(20) == number].count().sum()  # Count the number of times the predicted number has occurred in the next 20 numbers
    probability = occurrences / len(df.tail(20)) * 100  # Calculate the probability as a percentage among the next 20 numbers
    probabilities.append(probability)

In [ ]:
# Normalize the probabilities so that they add up to 100%
probabilities = [p/sum(probabilities)*100 for p in probabilities]

In [ ]:
# Print the predicted numbers and their corresponding probabilities
for i in range(len(predicted_numbers)):
    print(f"The predicted number {predicted_numbers[i]} has a probability of {probabilities[i]:.2f}% to be drawn next.")

In [ ]:
x = np.array([6, 9, 14, 17, 19, 22, 27, 31, 35, 36, 42, 48, 49, 48, 54, 60, 62, 66, 71, 75])

y = np.intersect1d(scaler.inverse_transform(y_pred).astype(int)[0], x)
print(y)

np.intersect1d(numbers1, y)