In [3]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from keras.models import Sequential
from keras.layers import LSTM, Dense, Bidirectional, Dropout
from keras.optimizers import Adam

In [4]:
# #Line used to load dataset in google colab
from google.colab import files

uploaded = files.upload()

Saving lotto_polonia_2.csv to lotto_polonia_2.csv

In [5]:
# Load the dataset
df = pd.read_csv('lotto_polonia_2.csv', delimiter=';')
df.head()

,Numer,Dzien,Miesiac,Rok,L1,L2,L3,L4,L5,L6,...,L11,L12,L13,L14,L15,L16,L17,L18,L19,L20
0,1,18,3,1996,4,9,10,16,21,22,...,35,41,42,48,62,66,68,73,76,78
1,2,19,3,1996,6,12,15,19,28,33,...,49,59,62,63,64,67,69,71,75,77
2,3,21,3,1996,2,4,6,7,15,16,...,28,45,48,52,54,69,72,73,75,77
3,4,22,3,1996,3,8,15,17,19,25,...,36,38,44,49,60,61,64,67,68,75
4,5,25,3,1996,2,10,11,14,18,22,...,42,44,45,55,60,61,66,67,75,79

In [6]:
#Check the last lines from the data set
df.tail()

,Numer,Dzien,Miesiac,Rok,L1,L2,L3,L4,L5,L6,...,L11,L12,L13,L14,L15,L16,L17,L18,L19,L20
14493,14494,29,3,2023,1,3,4,6,8,12,...,28,36,45,55,56,63,64,69,70,72
14494,14495,29,3,2023,4,9,12,13,16,17,...,37,39,40,42,50,51,59,61,71,76
14495,14496,30,3,2023,1,3,5,6,11,13,...,36,44,50,53,61,63,67,69,79,80
14496,14497,30,3,2023,3,5,6,10,24,29,...,49,55,56,60,62,67,71,72,73,79
14497,14498,31,3,2023,2,4,6,10,17,23,...,45,50,53,58,61,66,75,78,79,80

In [7]:
#Print the shape of the dataset
df.shape

(14498, 24)

In [8]:
#Info of the data set
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14498 entries, 0 to 14497
Data columns (total 24 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Numer    14498 non-null  int64
 1   Dzien    14498 non-null  int64
 2   Miesiac  14498 non-null  int64
 3   Rok      14498 non-null  int64
 4   L1       14498 non-null  int64
 5   L2       14498 non-null  int64
 6   L3       14498 non-null  int64
 7   L4       14498 non-null  int64
 8   L5       14498 non-null  int64
 9   L6       14498 non-null  int64
 10  L7       14498 non-null  int64
 11  L8       14498 non-null  int64
 12  L9       14498 non-null  int64
 13  L10      14498 non-null  int64
 14  L11      14498 non-null  int64
 15  L12      14498 non-null  int64
 16  L13      14498 non-null  int64
 17  L14      14498 non-null  int64
 18  L15      14498 non-null  int64
 19  L16      14498 non-null  int64
 20  L17      14498 non-null  int64
 21  L18      14498 non-null  int64
 22  L19      14498 non-null  int64
 23  L20      14498 non-null  int64
dtypes: int64(24)
memory usage: 2.7 MB

In [9]:
#Prints the min, max, median and std
df.describe()

,Numer,Dzien,Miesiac,Rok,L1,L2,L3,L4,L5,L6,...,L11,L12,L13,L14,L15,L16,L17,L18,L19,L20
count,14498.000000,14498.00000,14498.000000,14498.000000,14498.000000,14498.000000,14498.000000,14498.000000,14498.000000,14498.000000,...,14498.000000,14498.000000,14498.000000,14498.000000,14498.000000,14498.000000,14498.000000,14498.000000,14498.000000,14498.000000
mean,7249.500000,15.74969,6.528901,2011.874603,3.903366,7.800731,11.658022,15.526142,19.387019,23.254449,...,42.394951,46.303145,50.201200,54.074838,57.942613,61.784798,65.612360,69.441509,73.256173,77.136984
std,4185.356436,8.79544,3.456790,7.146657,3.196229,4.396325,5.236363,5.848249,6.310839,6.723648,...,7.420929,7.384897,7.245258,7.027198,6.717572,6.337622,5.817791,5.182500,4.334679,3.149009
min,1.000000,1.00000,1.000000,1996.000000,1.000000,2.000000,3.000000,4.000000,5.000000,7.000000,...,16.000000,21.000000,23.000000,27.000000,31.000000,33.000000,35.000000,40.000000,43.000000,49.000000
25%,3625.250000,8.00000,4.000000,2007.000000,2.000000,4.000000,8.000000,11.000000,15.000000,18.000000,...,37.000000,41.000000,45.000000,49.000000,54.000000,58.000000,62.000000,66.000000,71.000000,76.000000
50%,7249.500000,16.00000,7.000000,2013.000000,3.000000,7.000000,11.000000,15.000000,19.000000,23.000000,...,42.000000,46.000000,50.000000,54.000000,58.000000,62.000000,66.000000,70.000000,74.000000,78.000000
75%,10873.750000,23.00000,10.000000,2018.000000,5.000000,10.000000,15.000000,19.000000,23.000000,28.000000,...,48.000000,51.000000,55.000000,59.000000,63.000000,66.000000,70.000000,73.000000,77.000000,79.000000
max,14498.000000,31.00000,12.000000,2023.000000,31.000000,34.000000,44.000000,45.000000,46.000000,51.000000,...,67.000000,69.000000,71.000000,73.000000,74.000000,76.000000,77.000000,78.000000,79.000000,80.000000

In [10]:
# Drop unnecessary columns
df.drop(['Numer', 'Dzien', 'Miesiac', 'Rok'], axis=1, inplace=True)
df.head()

,L1,L2,L3,L4,L5,L6,L7,L8,L9,L10,L11,L12,L13,L14,L15,L16,L17,L18,L19,L20
0,4,9,10,16,21,22,23,26,27,34,35,41,42,48,62,66,68,73,76,78
1,6,12,15,19,28,33,35,39,44,48,49,59,62,63,64,67,69,71,75,77
2,2,4,6,7,15,16,17,19,20,26,28,45,48,52,54,69,72,73,75,77
3,3,8,15,17,19,25,30,33,34,35,36,38,44,49,60,61,64,67,68,75
4,2,10,11,14,18,22,26,27,29,30,42,44,45,55,60,61,66,67,75,79

In [11]:
# Standardize the dataset
scaler = StandardScaler().fit(df.values)
transformed_dataset = scaler.transform(df.values)
transformed_df = pd.DataFrame(data=transformed_dataset, index=df.index)

transformed_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,0.030235,0.272798,-0.316647,0.081028,0.255598,-0.186579,-0.580812,-0.679808,-1.057296,-0.615858,-0.996534,-0.718132,-1.131979,-0.864505,0.604017,0.665131,0.410417,0.686660,0.633016,0.274069
1,0.655994,0.955210,0.638247,0.594020,1.364839,1.449494,1.134443,1.118125,1.259779,1.268914,0.890088,1.719359,1.628542,1.270132,0.901754,0.822924,0.582310,0.300732,0.402310,-0.043502
2,-0.595524,-0.864554,-1.080562,-1.457947,-0.695180,-1.078983,-1.438440,-1.647925,-2.011386,-1.692870,-1.939844,-0.176467,-0.303823,-0.295268,-0.586931,1.138511,1.097987,0.686660,0.402310,-0.043502
3,-0.282645,0.045328,0.638247,0.252026,-0.061328,0.259623,0.419753,0.288310,-0.103206,-0.481231,-0.861775,-1.124380,-0.855927,-0.722196,0.306280,-0.123836,-0.277153,-0.471123,-1.212628,-0.678645
4,-0.595524,0.500269,-0.125668,-0.260966,-0.219791,-0.186579,-0.151999,-0.541505,-0.784699,-1.154364,-0.053223,-0.311883,-0.717901,0.131659,0.306280,-0.123836,0.066632,-0.471123,0.402310,0.591640

In [12]:
# Prepare input and output data
number_of_rows = df.values.shape[0]
window_lenght = 21
number_of_features = df.values.shape[1]

X = np.empty([number_of_rows - window_lenght, window_lenght, number_of_features], dtype=float)
y = np.empty([number_of_rows - window_lenght, number_of_features], dtype=float)

for i in range(0, number_of_rows - window_lenght):
    X[i] = transformed_df.iloc[i : i + window_lenght, 0 : number_of_features]
    y[i] = transformed_df.iloc[i + window_lenght : i + window_lenght + 1, 0 : number_of_features]

In [13]:
# Define the model architecture
model = Sequential()
model.add(Bidirectional(LSTM(400, input_shape = (window_lenght, number_of_features), return_sequences = True)))
model.add(Dropout(0.3))
model.add(Bidirectional(LSTM(400, input_shape = (window_lenght, number_of_features), return_sequences = True)))
model.add(Dropout(0.3))
model.add(Bidirectional(LSTM(400, input_shape = (window_lenght, number_of_features), return_sequences = True)))
model.add(Bidirectional(LSTM(400, input_shape = (window_lenght, number_of_features), return_sequences = False)))
model.add(Dense(160))
model.add(Dense(number_of_features))

In [14]:
# Compile the model
model.compile(optimizer=Adam(learning_rate=0.0003), loss ='mse', metrics=['accuracy'])

In [15]:
# Train the model
model.fit(x=X, y=y, batch_size=160, epochs=210, verbose=2)

Epoch 1/210
91/91 - 27s - loss: 1.0029 - accuracy: 0.0587 - 27s/epoch - 297ms/step
Epoch 2/210
91/91 - 9s - loss: 1.0011 - accuracy: 0.0694 - 9s/epoch - 103ms/step
Epoch 3/210
91/91 - 9s - loss: 1.0005 - accuracy: 0.0629 - 9s/epoch - 104ms/step
Epoch 4/210
91/91 - 10s - loss: 1.0003 - accuracy: 0.0662 - 10s/epoch - 106ms/step
Epoch 5/210
91/91 - 10s - loss: 1.0000 - accuracy: 0.0649 - 10s/epoch - 107ms/step
Epoch 6/210
91/91 - 10s - loss: 0.9999 - accuracy: 0.0700 - 10s/epoch - 105ms/step
Epoch 7/210
91/91 - 9s - loss: 0.9996 - accuracy: 0.0672 - 9s/epoch - 104ms/step
Epoch 8/210
91/91 - 9s - loss: 0.9988 - accuracy: 0.0697 - 9s/epoch - 102ms/step
Epoch 9/210
91/91 - 9s - loss: 0.9988 - accuracy: 0.0709 - 9s/epoch - 102ms/step
Epoch 10/210
91/91 - 9s - loss: 0.9985 - accuracy: 0.0695 - 9s/epoch - 102ms/step
Epoch 11/210
91/91 - 9s - loss: 0.9967 - accuracy: 0.0744 - 9s/epoch - 102ms/step
Epoch 12/210
91/91 - 9s - loss: 0.9960 - accuracy: 0.0670 - 9s/epoch - 103ms/step
Epoch 13/210
91/91 - 9s - loss: 0.9945 - accuracy: 0.0716 - 9s/epoch - 104ms/step
Epoch 14/210
91/91 - 9s - loss: 0.9929 - accuracy: 0.0698 - 9s/epoch - 104ms/step
Epoch 15/210
91/91 - 9s - loss: 0.9909 - accuracy: 0.0756 - 9s/epoch - 104ms/step
Epoch 16/210
91/91 - 9s - loss: 0.9881 - accuracy: 0.0752 - 9s/epoch - 104ms/step
Epoch 17/210
91/91 - 9s - loss: 0.9842 - accuracy: 0.0792 - 9s/epoch - 104ms/step
Epoch 18/210
91/91 - 9s - loss: 0.9779 - accuracy: 0.0739 - 9s/epoch - 104ms/step
Epoch 19/210
91/91 - 9s - loss: 0.9721 - accuracy: 0.0778 - 9s/epoch - 103ms/step
Epoch 20/210
91/91 - 9s - loss: 0.9645 - accuracy: 0.0813 - 9s/epoch - 103ms/step
Epoch 21/210
91/91 - 9s - loss: 0.9559 - accuracy: 0.0823 - 9s/epoch - 103ms/step
Epoch 22/210
91/91 - 9s - loss: 0.9417 - accuracy: 0.0844 - 9s/epoch - 103ms/step
Epoch 23/210
91/91 - 9s - loss: 0.9296 - accuracy: 0.0893 - 9s/epoch - 104ms/step
Epoch 24/210
91/91 - 9s - loss: 0.9083 - accuracy: 0.0895 - 9s/epoch - 104ms/step
Epoch 25/210
91/91 - 9s - loss: 0.8825 - accuracy: 0.0977 - 9s/epoch - 104ms/step
Epoch 26/210
91/91 - 9s - loss: 0.8589 - accuracy: 0.1003 - 9s/epoch - 104ms/step
Epoch 27/210
91/91 - 9s - loss: 0.8240 - accuracy: 0.1058 - 9s/epoch - 104ms/step
Epoch 28/210
91/91 - 9s - loss: 0.7917 - accuracy: 0.1107 - 9s/epoch - 104ms/step
Epoch 29/210
91/91 - 9s - loss: 0.7467 - accuracy: 0.1188 - 9s/epoch - 104ms/step
Epoch 30/210
91/91 - 9s - loss: 0.7070 - accuracy: 0.1272 - 9s/epoch - 104ms/step
Epoch 31/210
91/91 - 9s - loss: 0.6614 - accuracy: 0.1335 - 9s/epoch - 104ms/step
Epoch 32/210
91/91 - 9s - loss: 0.6073 - accuracy: 0.1426 - 9s/epoch - 104ms/step
Epoch 33/210
91/91 - 9s - loss: 0.5631 - accuracy: 0.1577 - 9s/epoch - 104ms/step
Epoch 34/210
91/91 - 9s - loss: 0.5142 - accuracy: 0.1690 - 9s/epoch - 103ms/step
Epoch 35/210
91/91 - 9s - loss: 0.4663 - accuracy: 0.1835 - 9s/epoch - 104ms/step
Epoch 36/210
91/91 - 9s - loss: 0.4228 - accuracy: 0.2050 - 9s/epoch - 104ms/step
Epoch 37/210
91/91 - 9s - loss: 0.3783 - accuracy: 0.2276 - 9s/epoch - 104ms/step
Epoch 38/210
91/91 - 9s - loss: 0.3368 - accuracy: 0.2425 - 9s/epoch - 104ms/step
Epoch 39/210
91/91 - 9s - loss: 0.3035 - accuracy: 0.2626 - 9s/epoch - 104ms/step
Epoch 40/210
91/91 - 9s - loss: 0.2711 - accuracy: 0.2822 - 9s/epoch - 104ms/step
Epoch 41/210
91/91 - 9s - loss: 0.2457 - accuracy: 0.2990 - 9s/epoch - 104ms/step
Epoch 42/210
91/91 - 9s - loss: 0.2194 - accuracy: 0.3332 - 9s/epoch - 104ms/step
Epoch 43/210
91/91 - 9s - loss: 0.1992 - accuracy: 0.3502 - 9s/epoch - 103ms/step
Epoch 44/210
91/91 - 9s - loss: 0.1813 - accuracy: 0.3679 - 9s/epoch - 104ms/step
Epoch 45/210
91/91 - 9s - loss: 0.1685 - accuracy: 0.3821 - 9s/epoch - 104ms/step
Epoch 46/210
91/91 - 9s - loss: 0.1550 - accuracy: 0.4007 - 9s/epoch - 104ms/step
Epoch 47/210
91/91 - 9s - loss: 0.1447 - accuracy: 0.4177 - 9s/epoch - 103ms/step
Epoch 48/210
91/91 - 9s - loss: 0.1323 - accuracy: 0.4400 - 9s/epoch - 103ms/step
Epoch 49/210
91/91 - 9s - loss: 0.1228 - accuracy: 0.4518 - 9s/epoch - 103ms/step
Epoch 50/210
91/91 - 9s - loss: 0.1161 - accuracy: 0.4645 - 9s/epoch - 103ms/step
Epoch 51/210
91/91 - 9s - loss: 0.1087 - accuracy: 0.4852 - 9s/epoch - 103ms/step
Epoch 52/210
91/91 - 9s - loss: 0.1025 - accuracy: 0.4982 - 9s/epoch - 103ms/step
Epoch 53/210
91/91 - 9s - loss: 0.0969 - accuracy: 0.5008 - 9s/epoch - 103ms/step
Epoch 54/210
91/91 - 9s - loss: 0.0934 - accuracy: 0.5218 - 9s/epoch - 103ms/step
Epoch 55/210
91/91 - 9s - loss: 0.0888 - accuracy: 0.5286 - 9s/epoch - 103ms/step
Epoch 56/210
91/91 - 9s - loss: 0.0839 - accuracy: 0.5386 - 9s/epoch - 103ms/step
Epoch 57/210
91/91 - 9s - loss: 0.0809 - accuracy: 0.5552 - 9s/epoch - 103ms/step
Epoch 58/210
91/91 - 9s - loss: 0.0782 - accuracy: 0.5614 - 9s/epoch - 103ms/step
Epoch 59/210
91/91 - 9s - loss: 0.0758 - accuracy: 0.5785 - 9s/epoch - 103ms/step
Epoch 60/210
91/91 - 9s - loss: 0.0724 - accuracy: 0.5823 - 9s/epoch - 103ms/step
Epoch 61/210
91/91 - 9s - loss: 0.0703 - accuracy: 0.5885 - 9s/epoch - 104ms/step
Epoch 62/210
91/91 - 9s - loss: 0.0682 - accuracy: 0.5995 - 9s/epoch - 104ms/step
Epoch 63/210
91/91 - 9s - loss: 0.0651 - accuracy: 0.6103 - 9s/epoch - 104ms/step
Epoch 64/210
91/91 - 9s - loss: 0.0630 - accuracy: 0.6090 - 9s/epoch - 104ms/step
Epoch 65/210
91/91 - 9s - loss: 0.0609 - accuracy: 0.6215 - 9s/epoch - 104ms/step
Epoch 66/210
91/91 - 9s - loss: 0.0595 - accuracy: 0.6278 - 9s/epoch - 104ms/step
Epoch 67/210
91/91 - 9s - loss: 0.0575 - accuracy: 0.6358 - 9s/epoch - 104ms/step
Epoch 68/210
91/91 - 9s - loss: 0.0562 - accuracy: 0.6393 - 9s/epoch - 104ms/step
Epoch 69/210
91/91 - 9s - loss: 0.0548 - accuracy: 0.6519 - 9s/epoch - 104ms/step
Epoch 70/210
91/91 - 9s - loss: 0.0536 - accuracy: 0.6572 - 9s/epoch - 103ms/step
Epoch 71/210
91/91 - 9s - loss: 0.0523 - accuracy: 0.6564 - 9s/epoch - 103ms/step
Epoch 72/210
91/91 - 9s - loss: 0.0507 - accuracy: 0.6694 - 9s/epoch - 103ms/step
Epoch 73/210
91/91 - 9s - loss: 0.0503 - accuracy: 0.6665 - 9s/epoch - 103ms/step
Epoch 74/210
91/91 - 9s - loss: 0.0489 - accuracy: 0.6691 - 9s/epoch - 103ms/step
Epoch 75/210
91/91 - 9s - loss: 0.0480 - accuracy: 0.6801 - 9s/epoch - 103ms/step
Epoch 76/210
91/91 - 9s - loss: 0.0471 - accuracy: 0.6798 - 9s/epoch - 103ms/step
Epoch 77/210
91/91 - 9s - loss: 0.0459 - accuracy: 0.6879 - 9s/epoch - 103ms/step
Epoch 78/210
91/91 - 9s - loss: 0.0445 - accuracy: 0.6845 - 9s/epoch - 104ms/step
Epoch 79/210
91/91 - 9s - loss: 0.0441 - accuracy: 0.6926 - 9s/epoch - 103ms/step
Epoch 80/210
91/91 - 9s - loss: 0.0435 - accuracy: 0.7004 - 9s/epoch - 103ms/step
Epoch 81/210
91/91 - 9s - loss: 0.0423 - accuracy: 0.7024 - 9s/epoch - 104ms/step
Epoch 82/210
91/91 - 9s - loss: 0.0419 - accuracy: 0.7077 - 9s/epoch - 103ms/step
Epoch 83/210
91/91 - 9s - loss: 0.0410 - accuracy: 0.7046 - 9s/epoch - 103ms/step
Epoch 84/210
91/91 - 9s - loss: 0.0403 - accuracy: 0.7111 - 9s/epoch - 103ms/step
Epoch 85/210
91/91 - 9s - loss: 0.0399 - accuracy: 0.7121 - 9s/epoch - 103ms/step
Epoch 86/210
91/91 - 9s - loss: 0.0396 - accuracy: 0.7171 - 9s/epoch - 103ms/step
Epoch 87/210
91/91 - 9s - loss: 0.0388 - accuracy: 0.7200 - 9s/epoch - 104ms/step
Epoch 88/210
91/91 - 9s - loss: 0.0382 - accuracy: 0.7200 - 9s/epoch - 104ms/step
Epoch 89/210
91/91 - 9s - loss: 0.0373 - accuracy: 0.7206 - 9s/epoch - 103ms/step
Epoch 90/210
91/91 - 9s - loss: 0.0367 - accuracy: 0.7258 - 9s/epoch - 103ms/step
Epoch 91/210
91/91 - 9s - loss: 0.0357 - accuracy: 0.7325 - 9s/epoch - 103ms/step
Epoch 92/210
91/91 - 9s - loss: 0.0352 - accuracy: 0.7272 - 9s/epoch - 103ms/step
Epoch 93/210
91/91 - 9s - loss: 0.0347 - accuracy: 0.7356 - 9s/epoch - 104ms/step
Epoch 94/210
91/91 - 9s - loss: 0.0348 - accuracy: 0.7294 - 9s/epoch - 103ms/step
Epoch 95/210
91/91 - 9s - loss: 0.0348 - accuracy: 0.7377 - 9s/epoch - 104ms/step
Epoch 96/210
91/91 - 9s - loss: 0.0340 - accuracy: 0.7379 - 9s/epoch - 104ms/step
Epoch 97/210
91/91 - 9s - loss: 0.0338 - accuracy: 0.7455 - 9s/epoch - 103ms/step
Epoch 98/210
91/91 - 9s - loss: 0.0332 - accuracy: 0.7433 - 9s/epoch - 104ms/step
Epoch 99/210
91/91 - 9s - loss: 0.0324 - accuracy: 0.7495 - 9s/epoch - 104ms/step
Epoch 100/210
91/91 - 9s - loss: 0.0324 - accuracy: 0.7464 - 9s/epoch - 104ms/step
Epoch 101/210
91/91 - 9s - loss: 0.0316 - accuracy: 0.7495 - 9s/epoch - 103ms/step
Epoch 102/210
91/91 - 9s - loss: 0.0306 - accuracy: 0.7480 - 9s/epoch - 104ms/step
Epoch 103/210
91/91 - 9s - loss: 0.0309 - accuracy: 0.7499 - 9s/epoch - 103ms/step
Epoch 104/210
91/91 - 9s - loss: 0.0301 - accuracy: 0.7535 - 9s/epoch - 104ms/step
Epoch 105/210
91/91 - 9s - loss: 0.0301 - accuracy: 0.7573 - 9s/epoch - 104ms/step
Epoch 106/210
91/91 - 9s - loss: 0.0296 - accuracy: 0.7586 - 9s/epoch - 104ms/step
Epoch 107/210
91/91 - 9s - loss: 0.0303 - accuracy: 0.7554 - 9s/epoch - 103ms/step
Epoch 108/210
91/91 - 9s - loss: 0.0301 - accuracy: 0.7553 - 9s/epoch - 103ms/step
Epoch 109/210
91/91 - 9s - loss: 0.0290 - accuracy: 0.7598 - 9s/epoch - 104ms/step
Epoch 110/210
91/91 - 9s - loss: 0.0283 - accuracy: 0.7618 - 9s/epoch - 103ms/step
Epoch 111/210
91/91 - 9s - loss: 0.0279 - accuracy: 0.7616 - 9s/epoch - 103ms/step
Epoch 112/210
91/91 - 9s - loss: 0.0273 - accuracy: 0.7692 - 9s/epoch - 103ms/step
Epoch 113/210
91/91 - 9s - loss: 0.0278 - accuracy: 0.7628 - 9s/epoch - 104ms/step
Epoch 114/210
91/91 - 9s - loss: 0.0274 - accuracy: 0.7624 - 9s/epoch - 103ms/step
Epoch 115/210
91/91 - 9s - loss: 0.0267 - accuracy: 0.7730 - 9s/epoch - 103ms/step
Epoch 116/210
91/91 - 9s - loss: 0.0265 - accuracy: 0.7751 - 9s/epoch - 103ms/step
Epoch 117/210
91/91 - 9s - loss: 0.0262 - accuracy: 0.7728 - 9s/epoch - 103ms/step
Epoch 118/210
91/91 - 9s - loss: 0.0257 - accuracy: 0.7718 - 9s/epoch - 103ms/step
Epoch 119/210
91/91 - 9s - loss: 0.0254 - accuracy: 0.7742 - 9s/epoch - 103ms/step
Epoch 120/210
91/91 - 9s - loss: 0.0254 - accuracy: 0.7769 - 9s/epoch - 104ms/step
Epoch 121/210
91/91 - 9s - loss: 0.0254 - accuracy: 0.7758 - 9s/epoch - 103ms/step
Epoch 122/210
91/91 - 9s - loss: 0.0257 - accuracy: 0.7717 - 9s/epoch - 104ms/step
Epoch 123/210
91/91 - 9s - loss: 0.0260 - accuracy: 0.7784 - 9s/epoch - 104ms/step
Epoch 124/210
91/91 - 9s - loss: 0.0248 - accuracy: 0.7878 - 9s/epoch - 104ms/step
Epoch 125/210
91/91 - 9s - loss: 0.0263 - accuracy: 0.7781 - 9s/epoch - 104ms/step
Epoch 126/210
91/91 - 9s - loss: 0.0257 - accuracy: 0.7809 - 9s/epoch - 104ms/step
Epoch 127/210
91/91 - 9s - loss: 0.0244 - accuracy: 0.7811 - 9s/epoch - 104ms/step
Epoch 128/210
91/91 - 9s - loss: 0.0234 - accuracy: 0.7841 - 9s/epoch - 103ms/step
Epoch 129/210
91/91 - 9s - loss: 0.0228 - accuracy: 0.7888 - 9s/epoch - 104ms/step
Epoch 130/210
91/91 - 9s - loss: 0.0223 - accuracy: 0.7919 - 9s/epoch - 104ms/step
Epoch 131/210
91/91 - 9s - loss: 0.0222 - accuracy: 0.7879 - 9s/epoch - 104ms/step
Epoch 132/210
91/91 - 9s - loss: 0.0222 - accuracy: 0.7929 - 9s/epoch - 104ms/step
Epoch 133/210
91/91 - 9s - loss: 0.0220 - accuracy: 0.7993 - 9s/epoch - 104ms/step
Epoch 134/210
91/91 - 9s - loss: 0.0215 - accuracy: 0.7916 - 9s/epoch - 104ms/step
Epoch 135/210
91/91 - 9s - loss: 0.0216 - accuracy: 0.7951 - 9s/epoch - 104ms/step
Epoch 136/210
91/91 - 9s - loss: 0.0214 - accuracy: 0.7893 - 9s/epoch - 104ms/step
Epoch 137/210
91/91 - 9s - loss: 0.0212 - accuracy: 0.7936 - 9s/epoch - 104ms/step
Epoch 138/210
91/91 - 9s - loss: 0.0210 - accuracy: 0.7940 - 9s/epoch - 103ms/step
Epoch 139/210
91/91 - 9s - loss: 0.0213 - accuracy: 0.7984 - 9s/epoch - 103ms/step
Epoch 140/210
91/91 - 9s - loss: 0.0212 - accuracy: 0.7899 - 9s/epoch - 103ms/step
Epoch 141/210
91/91 - 9s - loss: 0.0226 - accuracy: 0.7973 - 9s/epoch - 104ms/step
Epoch 142/210
91/91 - 9s - loss: 0.0249 - accuracy: 0.7855 - 9s/epoch - 103ms/step
Epoch 143/210
91/91 - 9s - loss: 0.0218 - accuracy: 0.7970 - 9s/epoch - 103ms/step
Epoch 144/210
91/91 - 9s - loss: 0.0207 - accuracy: 0.8009 - 9s/epoch - 103ms/step
Epoch 145/210
91/91 - 9s - loss: 0.0205 - accuracy: 0.7955 - 9s/epoch - 103ms/step
Epoch 146/210
91/91 - 9s - loss: 0.0196 - accuracy: 0.8037 - 9s/epoch - 103ms/step
Epoch 147/210
91/91 - 9s - loss: 0.0193 - accuracy: 0.8048 - 9s/epoch - 103ms/step
Epoch 148/210
91/91 - 9s - loss: 0.0191 - accuracy: 0.8036 - 9s/epoch - 103ms/step
Epoch 149/210
91/91 - 9s - loss: 0.0189 - accuracy: 0.8095 - 9s/epoch - 103ms/step
Epoch 150/210
91/91 - 9s - loss: 0.0186 - accuracy: 0.8098 - 9s/epoch - 103ms/step
Epoch 151/210
91/91 - 9s - loss: 0.0185 - accuracy: 0.8063 - 9s/epoch - 103ms/step
Epoch 152/210
91/91 - 9s - loss: 0.0180 - accuracy: 0.8095 - 9s/epoch - 103ms/step
Epoch 153/210
91/91 - 9s - loss: 0.0182 - accuracy: 0.8106 - 9s/epoch - 103ms/step
Epoch 154/210
91/91 - 9s - loss: 0.0180 - accuracy: 0.8074 - 9s/epoch - 103ms/step
Epoch 155/210
91/91 - 9s - loss: 0.0181 - accuracy: 0.8119 - 9s/epoch - 103ms/step
Epoch 156/210
91/91 - 9s - loss: 0.0184 - accuracy: 0.8098 - 9s/epoch - 103ms/step
Epoch 157/210
91/91 - 9s - loss: 0.0181 - accuracy: 0.8094 - 9s/epoch - 104ms/step
Epoch 158/210
91/91 - 9s - loss: 0.0178 - accuracy: 0.8116 - 9s/epoch - 103ms/step
Epoch 159/210
91/91 - 9s - loss: 0.0176 - accuracy: 0.8126 - 9s/epoch - 103ms/step
Epoch 160/210
91/91 - 9s - loss: 0.0174 - accuracy: 0.8130 - 9s/epoch - 104ms/step
Epoch 161/210
91/91 - 9s - loss: 0.0175 - accuracy: 0.8148 - 9s/epoch - 104ms/step
Epoch 162/210
91/91 - 9s - loss: 0.0175 - accuracy: 0.8115 - 9s/epoch - 104ms/step
Epoch 163/210
91/91 - 9s - loss: 0.0172 - accuracy: 0.8158 - 9s/epoch - 103ms/step
Epoch 164/210
91/91 - 9s - loss: 0.0180 - accuracy: 0.8105 - 9s/epoch - 104ms/step
Epoch 165/210
91/91 - 9s - loss: 0.0177 - accuracy: 0.8128 - 9s/epoch - 104ms/step
Epoch 166/210
91/91 - 9s - loss: 0.0172 - accuracy: 0.8173 - 9s/epoch - 104ms/step
Epoch 167/210
91/91 - 9s - loss: 0.0165 - accuracy: 0.8147 - 9s/epoch - 104ms/step
Epoch 168/210
91/91 - 9s - loss: 0.0164 - accuracy: 0.8192 - 9s/epoch - 104ms/step
Epoch 169/210
91/91 - 9s - loss: 0.0161 - accuracy: 0.8156 - 9s/epoch - 104ms/step
Epoch 170/210
91/91 - 9s - loss: 0.0160 - accuracy: 0.8200 - 9s/epoch - 104ms/step
Epoch 171/210
91/91 - 9s - loss: 0.0161 - accuracy: 0.8170 - 9s/epoch - 104ms/step
Epoch 172/210
91/91 - 9s - loss: 0.0162 - accuracy: 0.8189 - 9s/epoch - 104ms/step
Epoch 173/210
91/91 - 9s - loss: 0.0160 - accuracy: 0.8166 - 9s/epoch - 104ms/step
Epoch 174/210
91/91 - 9s - loss: 0.0157 - accuracy: 0.8219 - 9s/epoch - 104ms/step
Epoch 175/210
91/91 - 9s - loss: 0.0156 - accuracy: 0.8219 - 9s/epoch - 104ms/step
Epoch 176/210
91/91 - 9s - loss: 0.0158 - accuracy: 0.8224 - 9s/epoch - 104ms/step
Epoch 177/210
91/91 - 9s - loss: 0.0161 - accuracy: 0.8270 - 9s/epoch - 104ms/step
Epoch 178/210
91/91 - 9s - loss: 0.0157 - accuracy: 0.8232 - 9s/epoch - 104ms/step
Epoch 179/210
91/91 - 9s - loss: 0.0154 - accuracy: 0.8257 - 9s/epoch - 104ms/step
Epoch 180/210
91/91 - 9s - loss: 0.0162 - accuracy: 0.8243 - 9s/epoch - 104ms/step
Epoch 181/210
91/91 - 9s - loss: 0.0164 - accuracy: 0.8185 - 9s/epoch - 104ms/step
Epoch 182/210
91/91 - 9s - loss: 0.0160 - accuracy: 0.8202 - 9s/epoch - 103ms/step
Epoch 183/210
91/91 - 9s - loss: 0.0154 - accuracy: 0.8231 - 9s/epoch - 104ms/step
Epoch 184/210
91/91 - 9s - loss: 0.0148 - accuracy: 0.8333 - 9s/epoch - 104ms/step
Epoch 185/210
91/91 - 9s - loss: 0.0143 - accuracy: 0.8266 - 9s/epoch - 104ms/step
Epoch 186/210
91/91 - 9s - loss: 0.0141 - accuracy: 0.8298 - 9s/epoch - 103ms/step
Epoch 187/210
91/91 - 9s - loss: 0.0140 - accuracy: 0.8295 - 9s/epoch - 104ms/step
Epoch 188/210
91/91 - 9s - loss: 0.0139 - accuracy: 0.8330 - 9s/epoch - 104ms/step
Epoch 189/210
91/91 - 9s - loss: 0.0137 - accuracy: 0.8308 - 9s/epoch - 104ms/step
Epoch 190/210
91/91 - 9s - loss: 0.0138 - accuracy: 0.8316 - 9s/epoch - 104ms/step
Epoch 191/210
91/91 - 10s - loss: 0.0141 - accuracy: 0.8268 - 10s/epoch - 106ms/step
Epoch 192/210
91/91 - 10s - loss: 0.0151 - accuracy: 0.8346 - 10s/epoch - 106ms/step
Epoch 193/210
91/91 - 9s - loss: 0.0151 - accuracy: 0.8266 - 9s/epoch - 104ms/step
Epoch 194/210
91/91 - 9s - loss: 0.0152 - accuracy: 0.8260 - 9s/epoch - 104ms/step
Epoch 195/210
91/91 - 9s - loss: 0.0143 - accuracy: 0.8317 - 9s/epoch - 104ms/step
Epoch 196/210
91/91 - 9s - loss: 0.0138 - accuracy: 0.8316 - 9s/epoch - 104ms/step
Epoch 197/210
91/91 - 9s - loss: 0.0133 - accuracy: 0.8339 - 9s/epoch - 104ms/step
Epoch 198/210
91/91 - 9s - loss: 0.0130 - accuracy: 0.8380 - 9s/epoch - 104ms/step
Epoch 199/210
91/91 - 9s - loss: 0.0129 - accuracy: 0.8350 - 9s/epoch - 103ms/step
Epoch 200/210
91/91 - 9s - loss: 0.0126 - accuracy: 0.8356 - 9s/epoch - 103ms/step
Epoch 201/210
91/91 - 9s - loss: 0.0126 - accuracy: 0.8384 - 9s/epoch - 104ms/step
Epoch 202/210
91/91 - 9s - loss: 0.0127 - accuracy: 0.8375 - 9s/epoch - 103ms/step
Epoch 203/210
91/91 - 9s - loss: 0.0127 - accuracy: 0.8381 - 9s/epoch - 103ms/step
Epoch 204/210
91/91 - 9s - loss: 0.0139 - accuracy: 0.8337 - 9s/epoch - 103ms/step
Epoch 205/210
91/91 - 9s - loss: 0.0147 - accuracy: 0.8331 - 9s/epoch - 103ms/step
Epoch 206/210
91/91 - 9s - loss: 0.0137 - accuracy: 0.8368 - 9s/epoch - 103ms/step
Epoch 207/210
91/91 - 9s - loss: 0.0130 - accuracy: 0.8362 - 9s/epoch - 103ms/step
Epoch 208/210
91/91 - 9s - loss: 0.0123 - accuracy: 0.8425 - 9s/epoch - 104ms/step
Epoch 209/210
91/91 - 9s - loss: 0.0120 - accuracy: 0.8441 - 9s/epoch - 103ms/step
Epoch 210/210
91/91 - 9s - loss: 0.0120 - accuracy: 0.8429 - 9s/epoch - 103ms/step

In [16]:
# Make a prediction
to_predict = df.tail(21)
to_predict = np.array(to_predict)
scaled_to_predict = scaler.transform(to_predict)
y_pred = model.predict(np.array([scaled_to_predict]))
predicted_numbers = scaler.inverse_transform(y_pred).astype(int)[0]
print('The predicted numbers in the last lottery game are:', predicted_numbers)

1/1 [==============================] - 2s 2s/step
The predicted numbers in the last lottery game are: [ 2  5  8 12 16 22 23 28 31 42 45 50 52 55 58 63 70 75 77 79]

In [17]:
#The withdraw numbers
numbers1 = np.array([1,9,11,13,22,23,25,31,33,42,45,51,57,59,60,63,65,70,74,77])
numbers1
# numbers1 = np.array([2,4,6,10,17,23,24,26,30,44,45,50,53,58,61,66,75,78,79,80])
# numbers1

array([ 1,  9, 11, 13, 22, 23, 25, 31, 33, 42, 45, 51, 57, 59, 60, 63, 65,
       70, 74, 77])

In [18]:
#Check how many numbers are the same with the withdraw ones
np.intersect1d(scaler.inverse_transform(y_pred).astype(int)[0], numbers1)

array([22, 23, 31, 42, 45, 63, 70, 77])

In [19]:
# Calculate the probability of each predicted number
probabilities = []
for number in predicted_numbers:
    occurrences = df.tail(20)[df.tail(20) == number].count().sum()  # Count the number of times the predicted number has occurred in the next 20 numbers
    probability = occurrences / len(df.tail(20)) * 100  # Calculate the probability as a percentage among the next 20 numbers
    probabilities.append(probability)

In [20]:
# Normalize the probabilities so that they add up to 100%
probabilities = [p/sum(probabilities)*100 for p in probabilities]

In [24]:
# Print the predicted numbers and their corresponding probabilities
for i in range(len(predicted_numbers)):
    print(f"The predicted number {predicted_numbers[i]} has a probability of {probabilities[i]:.2f}% to be drawn next.")

The predicted number 2 has a probability of 3.57% to be drawn next.
The predicted number 5 has a probability of 5.36% to be drawn next.
The predicted number 8 has a probability of 1.79% to be drawn next.
The predicted number 12 has a probability of 4.46% to be drawn next.
The predicted number 16 has a probability of 3.57% to be drawn next.
The predicted number 22 has a probability of 4.46% to be drawn next.
The predicted number 23 has a probability of 4.46% to be drawn next.
The predicted number 28 has a probability of 3.57% to be drawn next.
The predicted number 31 has a probability of 5.36% to be drawn next.
The predicted number 42 has a probability of 4.46% to be drawn next.
The predicted number 45 has a probability of 8.04% to be drawn next.
The predicted number 50 has a probability of 8.93% to be drawn next.
The predicted number 52 has a probability of 2.68% to be drawn next.
The predicted number 55 has a probability of 4.46% to be drawn next.
The predicted number 58 has a probability of 5.36% to be drawn next.
The predicted number 63 has a probability of 7.14% to be drawn next.
The predicted number 70 has a probability of 5.36% to be drawn next.
The predicted number 75 has a probability of 4.46% to be drawn next.
The predicted number 77 has a probability of 7.14% to be drawn next.
The predicted number 79 has a probability of 5.36% to be drawn next.